CREATE TABLE IF NOT EXISTS public.rsvps (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    player_id UUID NOT NULL REFERENCES public.players(id) ON DELETE CASCADE,
    event_id UUID NOT NULL REFERENCES public.events(id) ON DELETE CASCADE,
    status TEXT NOT NULL CHECK (status IN ('coming', 'not_coming', 'maybe')),
    created_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(player_id, event_id)
);

ALTER TABLE public.rsvps ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Allow
public
read
access\ ON public.rsvps FOR SELECT USING (true);
CREATE POLICY \Allow
individual
insert
access\ ON public.rsvps FOR INSERT WITH CHECK (true);
CREATE POLICY \Allow
individual
update
access\ ON public.rsvps FOR UPDATE USING (true);

